<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ШЕРВУД | Готельно-відпочинковий комплекс</title>
    <meta property="og:title" content="ШЕРВУД — Готельно-відпочинковий комплекс поблизу Львова" />
    <meta property="og:description" content="Готель, озеро, колиба, альтанки, коні та форель за 35 км від Львова, дорогою на Шегині" />
    <meta property="og:image" content="http://sherwood-resort.com/og_image.webp">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://sherwood-resort.com/" />
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <script src="https://kit.fontawesome.com/0caeff61d9.js" crossorigin="anonymous"></script>
</head>

<body>
    <slick settings="mainSlickConfig">
        <div ng-repeat="slide in data.hall.topSlider">
            <div class="menu-slide" style="background-image: url(assets/img/{[{slide}]})">
            </div>
        </div>
    </slick>
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center main-bg">
            <div class="cell medium-11 large-10 text-center">
                <!-- INTRO -->
                <br>
                <h1 class="uppercase gold text-center">{[{lngData.hall.intro.h}]}</h1>
                <h5 class=" pre dark-gold text-center">{[{lngData.hall.intro.p}]}</h5>
                <div class="orn"></div>
                <!-- banquette -->
                <h2 class="uppercase light-gold  ">{[{lngData.hall.banquette.h}]}</h2>
                <p class="pre">{[{lngData.hall.banquette.p}]}</p>
                <slick settings="smallSlickConfig">
                    <img ng-repeat="slide in data.hall.banquette" src="assets/img/{[{slide}]}" alt="">
                </slick>
                <div class="orn"></div>
                <!-- END -->
                <!-- conf -->
                <div id="conf"></div>
                <h3 class="uppercase light-gold  ">{[{lngData.hall.bigConf.h}]}</h3>
                <p class="pre">{[{lngData.hall.bigConf.p}]}</p>
                <slick settings="smallSlickConfig">
                    <img ng-repeat="slide in data.hall.bigConf" src="assets/img/{[{slide}]}" alt="">
                </slick>
                <div class="orn"></div>
                 <h3 class="uppercase light-gold  ">{[{lngData.hall.smConf.h}]}</h3>
                <p class="pre">{[{lngData.hall.smConf.p}]}</p>
                <slick settings="smallSlickConfig">
                    <img ng-repeat="slide in data.hall.conf" src="assets/img/{[{slide}]}" alt="">
                </slick>
                <div class="orn"></div>
                <!-- END -->
            </div>
            <div class="orn"></div>
            <br>
        </div><br><br>
        <div class="text-center">
            <a href="#!/booking" ng-click="setBookType('hall')" class="large button uppercase"><i class="fas fa-phone "></i> {[{lngData.hall.btn}]}</a>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
    <script src="assets/js_plugins/angular-locale_uk-ua.js"></script>
    <script src="assets/js_plugins/myAngular.js"></script>
    <script src="assets/js/app.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="assets/js_plugins/angular-slick.js"></script>
    
</body>

</html>